.view-container {
    overflow: hidden;
}

label {
    display: block;
    margin: 5px;
}

.round-field {
    padding: 4px 6px;
    margin-bottom: 10px;
    display: inline-block;
    height: 32px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}

.icon-cell {
    padding: 2px;
}

.icon-delete {
    font-size: 20px;
    color: red;
    cursor: pointer;
}

.bookmark-actions {
    width: 320px;
    margin: 5px 0 5px 0;
    text-align: center;
}

.bookmark-actions .btn-group-vertical {
    width: 298px;
    margin: 5px;
}

.upload-container {
    margin-top: 5px;
}

.bookmark-add {
    width: 650px;
    min-height: 400px;
    margin: 10px;
}

.bookmark-rename {
    width: 650px;
    min-height: 335px;
    margin: 10px;
}

.bookmark-add input,
.bookmark-add .bootstrap-tagsinput,
.bookmark-rename .bootstrap-tagsinput {
    width: 635px;
}

.grid {
    margin-top: 10px;
}

.bookmark-search .bootstrap-tagsinput {
    width: 788px;
}

.bookmark-search,
.bookmark-show-tags {
    height: 100%;
    min-height: 590px;
    min-width: 790px;
    margin: 5px;
}

.bookmark-show-tags .grid {
    margin-top: 0;
}

.bookmark-show-tags .bootstrap-tagsinput{
    width: 721px;
}

.btn.align-tagsinput {
    margin-top: -10px;
}

.tag-default {
    background-color: #3a87ad;
    font-size: 12px;
}
.tag.label {
    padding: .2em .6em;
}

.typeahead {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ng-cell {
    padding: 5px;
}

.bookmark-count .left {
    float: left;
}

.bookmark-count .right {
    float: right;
}

.upload-container input[type="file"] {
    display: inline-block;
}

.alert {
    padding: 5px;
}