<div ng-controller="ActionsCtrl" class="bookmark-actions">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    <button type="button" class="btn btn-primary btn-group-vertical" ng-click="go('/add')">
        Add
    </button>
    <button type="button" class="btn btn-primary btn-group-vertical" ng-click="go('/search')">
        Search
    </button>
    <button type="button" class="btn btn-primary btn-group-vertical" ng-click="go('/rename-tag')">
        Rename tags
    </button>
    <button type="button" class="btn btn-primary btn-group-vertical" ng-click="loadBookmarks()" ng-disabled="loadBtn.disabled">
        Load from Chrome
    </button>
    <button type="button" class="btn btn-primary btn-group-vertical" ng-click="exportDB()" ng-disabled="exportBtn.disabled">
        Export
    </button>
    <button type="button" class="btn btn-primary btn-group-vertical" ng-click="showUpload()">
        Load from file
    </button>
    <div ng-show="uploadBookmarkVisible" class="upload-container">
        <input type="file" class="btn btn-primary" ng-file-select="onFileSelect($files)" >
    </div>
</div>
