<div ng-controller="AddCtrl" class="bookmark-add">

    <label>Title:</label>
    <input type="text" class="round-field" ng-model="title"/><br />

    <label>Url:</label>
    <input type="text" class="round-field" ng-model="url"/><br />

    <label>Tags:</label>
    <bootstrap-tagsinput
            ng-model="selectedTags"
            typeahead-source="getTags"
            tagclass="label tag-default"
            focus=true>
    </bootstrap-tagsinput>

    <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="isSaveBtnDisabled(title, url, selectedTags, isSaving)">Save bookmark</button>
    <button type="button" class="btn btn-primary" ng-click="goWithTags('/search')">Go to search</button>
    <button type="button" class="btn btn-primary" ng-click="go('/show-tags')">Show tags</button>
    <button type="button" class="btn btn-primary" ng-click="openNewTab('/show-tags')">Show tags <span class="glyphicon glyphicon-new-window"></span></button>
    <button type="button" class="btn btn-primary" ng-click="go('/actions')">Home</button>
</div>
