<div class="bookmark-popup">
    <div ng-controller="ActionsCtrl">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
        <button type="button" class="btn btn-primary btn-group-vertical" ng-click="loadBookmarks()" ng-disabled="loadBtn.disabled">
            Load Bookmarks from Chrome
        </button>
        <button type="button" class="btn btn-primary btn-group-vertical">
            Open Bookmark Manager
        </button>
    </div>
</div>