<div ng-controller="AddCtrl" class="bookmark-add">
    <label>Title:</label>
    <input type="text" ng-model="title" autofocus="autofocus"/><br />
    <label>Tags:</label>
    <bootstrap-tagsinput
            ng-model="selectedTags"
            typeahead-source="getTags"
            tagclass="label tag-default">
    </bootstrap-tagsinput>
    <label>Url:</label>
    <input type="text" ng-model="url"/>
    <br />
    <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="saveBtn.disabled">Save</button>
    <button type="button" class="btn btn-primary" ng-click="go('/search')">Go to search</button>
</div>
