.bookmark-popup {
    width:270px;
    height: 100px;
    width: 100%;
    padding-top: 5px;
    text-align: center;
}

.bookmark-popup .btn-group-vertical {
    width: 250px;
    margin: 5px 0 5px 0;
}