.bookmark-actions {
    width:170px;
    height: 150px;
    width: 100%;
    padding-top: 5px;
    text-align: center;
}

.bookmark-actions .btn-group-vertical {
    width: 145px;
    margin: 5px 0 5px 0;
}

.bookmark-add {
    width: 300px;
    height: 100px;
    padding: 10px;
}

.bootstrap-tagsinput {
    width: 100%;
}
.tag-default {
    background-color: #3a87ad;
    font-size: 12px;
}