.bookmark-popup {
    width:170px;
    height: 150px;
    width: 100%;
    padding-top: 5px;
    text-align: center;
}

.bookmark-popup .btn-group-vertical {
    width: 145px;
    margin: 5px 0 5px 0;
}