<div ng-controller="ActionsCtrl" class="bookmark-actions">
    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    <button type="button" class="btn btn-primary btn-group-vertical" ng-click="go('/add')">
        Add
    </button>
    <button type="button" class="btn btn-primary btn-group-vertical" ng-click="go('/search')">
        Search
    </button>
    <button type="button" class="btn btn-primary btn-group-vertical" ng-click="loadBookmarks()" ng-disabled="loadBtn.disabled">
        Load from Chrome
    </button>
</div>
